<%- include('./templates/header.ejs') %>
<%- include('./templates/navbar')%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Asobreva SAT
            </h1>
            <p class="subtitle">
                Asociación de Productores de <strong>Breva</strong> Chamezas
            </p>
        </div>
    </section>
    <div class="container">
        <% if (messages) { %>
            <article class="message is-success">
                <div class="message-body">
                    <%= messages %>
                </div>
            </article>
        <% } %>
    </div>
<%- include('./templates/info') %>    
<%- include('./templates/footer')%>