<%- include('./templates/header.ejs') %>
    <%- include('./templates/navbar')%>
        <div class="container">
            <h2 class="subtitle">Registrar usuarios que no se encuentran dentro de la base de datos</h2>

            <% if (messages) { %>
                <article class="message is-danger">
                    <div class="message-body">
                        <%= messages %>
                    </div>
                </article>
                <% } %>

                    <% if (register) { %>
                        <article class="message is-danger">
                            <div class="message-body">
                                <%= register %>
                            </div>
                        </article>
                        <% } %>

                            <div class="columns is-desktop">

                                <div class="column is-half is-offset-one-quarter">
                                    <div class="box">
                                        <h1 class="title">
                                            Registro de Personas
                                        </h1>
                                        <form action="/add" method="POST">
                                            <div class="field">
                                                <label class="label">Cedula</label>
                                                <div class="control">
                                                    <input class="input" type="text" placeholder="ej. 105212145"
                                                        name="idCard"
                                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <label class="label">Nombres</label>
                                                <div class="control">
                                                    <input class="input" type="text" placeholder="ej. Arge Darley"
                                                        name="name"
                                                        onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <label class="label">Apellidos</label>
                                                <div class="control">
                                                    <input class="input" type="text" placeholder="ej. Nino Viancha"
                                                        name="lastname"
                                                        onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <label class="label">Email</label>
                                                <div class="control">
                                                    <input class="input" type="email"
                                                        placeholder="ej. arge.nino@gmail.com" name="email">
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="control is-half">
                                                    <button class="button is-primary" type="submit">
                                                        Registrar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                </div>
                            </div>
        </div>

        <%- include('./templates/footer')%>